<!DOCTYPE html>
<html>
  <head>
    <title>Metarepo</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
    <hr/>
    Metarepo v. <b><%= File.open("#{Rails.root}/VERSION", "r").read.strip %> </b>
  </body>
</html>
